<div class="page p-4 p-md-0" id="about-page">
  <section class="section pt-3" id="about">
    <h2 class="section-title hero-subtitle">Sobre M&#xed;</h2>
    <div class="p-grid">
        <div class="p-lg-6 p-md-6 p-sm-12 p-d-flex p-jc-center p-ai-center">
          <div class="p-d-flex p-jc-center">
            <img src="../../../assets/imagenes/mio.jpg" class="imgPrincipal" style="border-radius: 50px 30px 30px 3 / 90px 30px 30px 30px;" loading="lazy"/>
          </div>
        </div>
        <div class="p-lg-6 p-md-6 p-sm-12 p-text-sm-center" style="max-width: 800px; margin: 0 auto; padding: 2rem">
          <p class="hero-subtitle" style="font-size: 15px; text-align: justify;">
            <b>Hola!</b> Mi nombre es Yeison Molano. <br /><br />Soy ingeniero de sistemas con experiencia en el desarrollo fullstack de
            aplicaciones web. He trabajado extensamente en la creación y
            consumo de microservicios y en el diseño de bases de datos
            relacionales. En el ámbito del frontend, tengo habilidades sólidas en la
            creación de interfaces de usuario intuitivas y atractivas. Me destaco
            por mi perseverancia, capacidad de trabajo en equipo y disciplina, lo
            que me permite enfrentar desafíos con determinación y lograr
            resultados de alta calidad. Mi pasión por la programación y mi enfoque
            meticuloso en cada proyecto me convierten en un profesional
            altamente efectivo y confiable dentro de cualquier equipo de
            desarrollo. Si gustas ver un poco más sobre mi experiencia te adjunto mi <a href="./../../assets/imagenes/CV-Yeison_Molano.pdf"
            download="CV-Yeison_Molano.pdf">Cv actualizado</a>.
          </p>
        </div>
    </div>
  </section>
</div>
