<div class="p-shadow-3" style="z-index: 9999;">
  <nav class="nav">
    <div class="nav-logo d-flex">
        <a href="#"><img src="./assets/imagenes/ym.webp" class="logoR" /></a>
      <div class="tittle-name ps-3">Dev Yeison Molano</div>
    </div>
    <div class="nav-links">
      <a routerLink="/home" routerLinkActive="active" class="nav-link">Inicio</a>
      <a routerLink="/projects" routerLinkActive="active" class="nav-link">Proyectos</a>
      <a routerLink="/about" routerLinkActive="active" class="nav-link">Sobre m&#xed;</a>
      <a routerLink="/contact" routerLinkActive="active" class="nav-link">Contacto</a>
    </div>
  </nav>
</div>

<!-- <div class="p-col-5 p-pt-0"> -->
    <!--<div class="p-d-flex p-jc-end">
            <p-button styleClass="p-button-outlined p-button-rounded p-button-text">
                <a href="https://www.youtube.com/@yeisoneduardomolanolopez4152/videos" target="_blank" ><img alt="logo" src="https://cdn-icons-png.flaticon.com/512/3670/3670147.png" class="logoR"/></a>
            </p-button>
            
            <p-button styleClass="p-button-outlined p-button-rounded p-button-text"> 
                <a href="https://github.com/YeisonMolano" target="_blank" ><img alt="logo" src="./../../assets/imagenes/github.png" class="logoR"/></a>
            </p-button>
            <p-button styleClass="p-button-outlined p-button-rounded p-button-text">
                <a href="https://www.linkedin.com/in/yeison-molano/" target="_blank" ><img alt="logo" src="../../assets/imagenes/linkedin_logo.png" class="logoR"/></a>
            </p-button>
        </div>-->
  <!-- </div> -->
  <!--<div class="p-col-2 p-d-flex p-jc-center">
        <p-toggleButton [(ngModel)]="darkMode" (ngModelChange)="onDarkMode()" onLabel="'Modo oscuro'" offLabel="Modo claro"></p-toggleButton>
    </div>-->
