<div class="p-shadow-3" style="z-index: 9999;">
  <nav class="nav">
    <div class="nav-logo d-flex">
        <a href="#"><img src="./assets/imagenes/ym.webp" class="logoR" loading="lazy"/></a>
      <div class="tittle-name ps-3">Dev Yeison Molano</div>
    </div>
    <div class="nav-links">
      <a routerLink="/home" routerLinkActive="active" class="nav-link">Inicio</a>
      <a routerLink="/projects" routerLinkActive="active" class="nav-link">Proyectos</a>
      <a routerLink="/about" routerLinkActive="active" class="nav-link">Sobre m&#xed;</a>
      <a routerLink="/contact" routerLinkActive="active" class="nav-link">Contacto</a>
    </div>
  </nav>
</div>