<p-card [header]="title" [subheader]="subtitle">
  <ng-template pTemplate="header">
    <div class="flex-row" style="padding: 1px">
      <img
        alt="img"
        [src]="imageSrc"
        class="rounded-top"
        style="max-width: 280px; max-height: 150px"
      />
    </div>
  </ng-template>
  <p>
    {{ description }}
  </p>
  <ng-template pTemplate="footer">
    <div class="d-flex justify-content-center gap-3">
      <p-button
        [label]="succesButtonText"
        styleClass="p-button-danger"
      ></p-button>
    </div>
  </ng-template>
</p-card>