<div class="project-card mb-4">
<p-card [header]="title" [subheader]="subtitle">
  <ng-template pTemplate="header">
    <div class="flex-row d-flex justify-content-center" style="padding: 1px">
      <img
        alt="img"
        [src]="'../../../assets/imagenes/' + imageSrc"
        [ngStyle]="allImageSize ? {} : {width: '30vh'}"
        loading="lazy"
      />
    </div>
  </ng-template>
  <p class="p-0 m-0">
    {{ description }}
  </p>
  <ng-template pTemplate="footer">
    <div *ngIf="showButton" class="d-flex justify-content-center gap-3">
      <button class="btn btn-primary" (click)="navigateToExternalUrl()">{{succesButtonText}}</button>
    </div>
  </ng-template>
</p-card>
</div>
