<div id="body" class="mt-1" style="height: 100vh">
  <!--<div class="page" [class.active]="activePage === 'home'">
    <app-home></app-home>
  </div>
  <div class="page" [class.active]="activePage === 'projects'">
    <app-projects></app-projects>
  </div>

  <!- About Page --
  <div class="page" [class.active]="activePage === 'about'">
    <app-about></app-about>
  </div>

  <!- Contact Page ->
  <div class="page" [class.active]="activePage === 'contact'">
    <app-contact></app-contact>
  </div>-->
</div>

<div class="social-links">
  <a
    href="https://github.com/YeisonMolanoL"
    target="_blank"
    class="social-link"
  >
    <i class="fab fa-github fa-lg"></i>
  </a>
  <a
    href="https://www.linkedin.com/in/yeison-molano"
    target="_blank"
    class="social-link"
  >
    <i class="fab fa-linkedin-in fa-lg"></i>
  </a>
  <a
    href="https://www.youtube.com/@yeisoneduardomolanolopez4152/videos"
    target="_blank"
    class="social-link"
  >
    <i class="fab fa-youtube fa-lg"></i>
  </a>
</div>
<!--<div class="row p-5">
    <div id="header">

    </div>
    <div id="body" class="row container">
        <div *ngFor="let card of cards" class="col-md-3 p-1 card-test">
            <app-card-info [title]="card.title" [subtitle]="card.subtitle" [imageSrc]="card.imageSrc" [description]="card.description" [succesButtonText]="card.succesButtonText"></app-card-info>
        </div>
    </div>
    <div id="footer">
        
    </div>
</div>-->
