<div class="page" id="home-page">
    <section class="hero" id="home">
      <div class="code-background" id="codeBackground"></div>
      <div class="hero-content">
        <h1 class="hero-title">Yeison Molano Dev.</h1>
        <p class="hero-subtitle">
          Full Stack Developer &amp; Software Engineer
        </p>
        <button class="btn btn-primary" routerLink="/projects" routerLinkActive="active">Ver Proyectos</button>
      </div>
      <div class="social-links">
        <a href="https://github.com/YeisonMolanoL" target="_blank" class="social-link">
          <i class="fab fa-github fa-lg"></i>
        </a>
        <a href="https://linkedin.com/in/yeison-molano" target="_blank" class="social-link">
          <i class="fab fa-linkedin-in fa-lg"></i>
        </a>
        <a href="https://youtube.com/@yeisoneduardomolanolopez4152" target="_blank" class="social-link">
          <i class="fab fa-youtube fa-lg"></i>
        </a>
      </div>
    </section>
  </div>