<section id="start" data-aos="fade-up" data-aos-duration="2000">
    <app-header (darkModeOut)="darkModeStyle($event)"></app-header>
    <div>
      <div class="p-d-flex p-jc-center">
        <h1 [ngClass]="darkMode ? 'tittle_ligth_mode' : 'tittle_dark_mode'">
          <b
            ><span
              ><span class="palabra"
                ><span class="letra">F</span><span class="letra">U</span
                ><span class="letra">L</span><span class="letra">L</span
                ><span class="letra">S</span><span class="letra">T</span
                ><span class="letra">A</span> <span class="letra">C</span
                ><span class="letra">K</span></span
              >
              <span class="palabra"
                ><span class="letra">J</span><span class="letra">A</span
                ><span class="letra">V</span><span class="letra">A</span></span
              >
              <span class="palabra"
                ><span class="letra">A</span><span class="letra">N</span
                ><span class="letra">G</span><span class="letra">U</span
                ><span class="letra">L</span><span class="letra">A</span
                ><span class="letra">R</span></span
              >
              <span class="palabra"
                ><span class="letra">D</span><span class="letra">E</span
                ><span class="letra">V</span><span class="letra">E</span
                ><span class="letra">L</span><span class="letra">O</span
                ><span class="letra">P</span><span class="letra">E</span
                ><span class="letra">R</span></span
              ></span
            ></b
          >
        </h1>
      </div>
      <br />
      <div class="p-grid">
        <div class="p-lg-6 p-md-6 p-sm-12 p-d-flex p-jc-center">
          <img src="./assets/imagenes/mio.jpg" class="imgPrincipal" />
        </div>
        <div
          class="p-lg-6 p-md-6 p-sm-12 p-text-sm-center" [ngClass]="darkMode ? 'textos_ligth_mode' : 'textos_dark_mode'"
        >
          <div class="p-sm-12" [ngClass]="darkMode ? 'fondo_ligth_mode' : 'fondo_dark_mode'">
            <h5 [ngClass]="darkMode ? 'textos_ligth_mode' : 'textos_dark_mode'">
              <b>Hola!</b> Mi nombre es Yeison Molano. <br /><br />Soy ingeniero de sistemas con experiencia en el desarrollo fullstack de
              aplicaciones web. He trabajado extensamente en la creación y
              consumo de microservicios y en el diseño de bases de datos
              relacionales. En el ámbito del frontend, tengo habilidades sólidas en la
              creación de interfaces de usuario intuitivas y atractivas. Me destaco
              por mi perseverancia, capacidad de trabajo en equipo y disciplina, lo
              que me permite enfrentar desafíos con determinación y lograr
              resultados de alta calidad. Mi pasión por la programación y mi enfoque
              meticuloso en cada proyecto me convierten en un profesional
              altamente efectivo y confiable dentro de cualquier equipo de
              desarrollo.<a [ngClass]="darkMode ? 'link_cv_ligth_mode' : 'link_cv_dark_mode'" href="./../../assets/imagenes/CV-Yeison_Molano.pdf"
              download="CV-Yeison_Molano.pdf">CV acá</a>. Si quieres conocer un poco mas de mi trabajo puedes ingresar
              a cualquiera de mis canales de información que encuentras en la parte superior derecha de la pantalla.
            </h5>
            <div class="p-d-flex p-jc-around">
              <div class="pequenio">
                <a routerLink="/crud"
                  ><p-button
                    label="CRUD Basico"
                    styleClass="contact"
                    icon="pi pi-envelope"
                  ></p-button
                ></a>
              </div>
              <div class="pequenio">
                <a href="#contact-me"
                  ><p-button
                    label="Contactame"
                    styleClass="contact"
                    icon="pi pi-envelope"
                  ></p-button
                ></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  <section id="skills" data-aos="fade-right" data-aos-duration="1500">
    <div>
      <div class="p-d-flex p-jc-center">
        <h1 [ngClass]="darkMode ? 'tittle_ligth_mode' : 'tittle_dark_mode'">HABILIDADES</h1>
      </div>
      
      <div class="p-grid">
        <div class="p-md-8 p-sm-12 p-sm-p-d-flex p-sm-p-jc-center">
          <div
          class="p-grid p-d-flex p-jc-center p-m-1 p-p-1"
          data-aos="fade-right"
          data-aos-duration="2000"
        >
          <div
            *ngFor="let skill of back"
            class="skil p-mb-2"
            [ngClass]="darkMode ? 'fondo_ligth_mode' : 'fondo_dark_mode'"
            data-aos="flip-left"
            data-aos-duration="800"
          >
            <h1 [ngClass]="darkMode ? 'textos_ligth_mode' : 'textos_dark_mode'">{{ skill.nombreSkil }}</h1>
            <div class="p-d-flex centrar">
              <div class="p-lg-6">
                <img src="{{ skill.logo }}" alt="" class="imgLogo" />
              </div>
              <div class="p-lg-6">
                <p [ngClass]="darkMode ? 'textos_ligth_mode' : 'textos_dark_mode'">
                  <b>Años de experciencia:</b> {{ skill.experiencia }} <br />
                  <b>Tipo de habilidad:</b> {{ skill.tipo }}
                </p>
              </div>
            </div>
          </div>
        </div>
    
        <div
          class="p-grid p-d-flex p-jc-center p-m-1 p-p-1"
          data-aos="fade-left"
          data-aos-duration="2000"
        >
        <div
            *ngFor="let skill of front"
            class="skil"
            [ngClass]="darkMode ? 'fondo_ligth_mode' : 'fondo_dark_mode'"
            data-aos="flip-left"
            data-aos-duration="800"
          >
            <h1 [ngClass]="darkMode ? 'textos_ligth_mode' : 'textos_dark_mode'">{{ skill.nombreSkil }}</h1>
            <div class="p-d-flex centrar">
              <div class="p-lg-6">
                <img src="{{ skill.logo }}" class="imgLogo" />
              </div>
              <div class="p-lg-6">
                <p [ngClass]="darkMode ? 'textos_ligth_mode' : 'textos_dark_mode'">
                  Años de experciencia: {{ skill.experiencia }} <br />
                  Tipo de habilidad: {{ skill.tipo }}
                </p>
              </div>
            </div>
          </div>
        </div>
        </div>
  
        <div class="p-md-4 p-sm-12">
          <div
          data-aos="flip-right"
          data-aos-duration="2000"
        >
        <div class="p-p-3" [ngClass]="darkMode ? 'fondo_ligth_mode' : 'fondo_dark_mode'">
          <div class="p-d-flex p-jc-center">
            <h1 [ngClass]="darkMode ? 'tittle_ligth_mode' : 'tittle_dark_mode'">¡Experiencia!</h1>
          </div>
          <div class="p-d-flex p-jc-center">
            <h2 [ngClass]="darkMode ? 'textos_ligth_mode' : 'textos_dark_mode'">Desarrollador FullStack -> Bitech Software Consulting</h2>
            <h2 [ngClass]="darkMode ? 'textos_ligth_mode' : 'textos_dark_mode'">Fecha de inicio: Abril 2023</h2>
            <h2 [ngClass]="darkMode ? 'textos_ligth_mode' : 'textos_dark_mode'">Fecha de terminación: Enero 2024</h2>
          </div>
          <div class="p-d-flex p-jc-center">
            <h1 [ngClass]="darkMode ? 'textos_ligth_mode' : 'textos_dark_mode'">Herramientas utilizadas: <br>
            Bitbucket. <br>
            Slack, <br>
            jira, <br>
            Metodogolia Scrum, <br>
            Pruebas unitarias con JUnit y Mockito.<br>
            </h1>
          </div>
        </div>
        </div>
        </div>
      </div>
      
    </div>
  </section>
  
  <section id="contact-me">
    <div class="p-d-lg-flex p-jc-center">
      <div>
        <h1 [ngClass]="darkMode ? 'tittle_ligth_mode' : 'tittle_dark_mode'">¡Contactame!</h1>
        <div class="p-p-2" [ngClass]="darkMode ? 'fondo_ligth_mode' : 'fondo_dark_mode'">
          <form action="" [formGroup]="formContactMe">
            <div class="p-d-lg-flex p-d-md-flex p-d-sm-block">
              <div class="p-lg-6 p-md-6 p-sm-12 p-col-12">
                <input
                  class="p-p-2 inputMessage"
                  placeholder="Nombre *"
                  type="text"
                  pInputText
                  formControlName="nombre"
                />
              </div>
              <div class="p-lg-6 p-md-6 p-sm-12 p-col-12">
                <input
                  class="p-p-2 inputMessage"
                  type="text"
                  placeholder="Apellido"
                  pInputText
                  formControlName="apellido"
                />
              </div>
            </div>
            <div class="p-col-12">
              <input
                placeholder="Tema *"
                class="p-p-2 inputMessage"
                type="text"
                pInputText
                formControlName="tema"
              />
            </div>
            <div class="p-col-12">
              <input
                placeholder="Contacto"
                class="p-p-2 inputMessage"
                type="text"
                pInputText
                formControlName="contacto"
              />
            </div>
            <div class="p-col-12">
              <textarea
                rows="5"
                cols="30"
                placeholder="Mensaje *"
                pInputTextarea
                [autoResize]="true"
                formControlName="mensaje"
                class="p-p-2 inputMessage"
              ></textarea>
            </div>
            <div class="p-d-flex p-jc-end p-pr-2">
              <p-button
                label="Contactame"
                styleClass="contact"
                icon="pi pi-envelope"
                (onClick)="sendMail()"
              ></p-button>
            </div>
          </form>
        </div>
      </div>
      
    </div>
  </section>
  
  <p-toast></p-toast>
  