<section id="start" data-aos="fade-up" data-aos-duration="2000">
  <app-header></app-header>
  <div>
    <div>
      <h1 class="tittle">
        <b
          ><span
            ><span class="palabra"
              ><span class="letra">F</span><span class="letra">U</span
              ><span class="letra">L</span><span class="letra">L</span
              ><span class="letra">S</span><span class="letra">T</span
              ><span class="letra">A</span> <span class="letra">C</span
              ><span class="letra">K</span></span
            >
            <span class="palabra"
              ><span class="letra">J</span><span class="letra">A</span
              ><span class="letra">V</span><span class="letra">A</span></span
            >
            <span class="palabra"
              ><span class="letra">A</span><span class="letra">N</span
              ><span class="letra">G</span><span class="letra">U</span
              ><span class="letra">L</span><span class="letra">A</span
              ><span class="letra">R</span></span
            >
            <span class="palabra"
              ><span class="letra">D</span><span class="letra">E</span
              ><span class="letra">V</span><span class="letra">E</span
              ><span class="letra">L</span><span class="letra">O</span
              ><span class="letra">P</span><span class="letra">E</span
              ><span class="letra">R</span></span
            ></span
          ></b
        >
      </h1>
    </div>
    <br />
    <div class="p-grid">
      <div
        class="p-lg-6 p-md-6 p-sm-12 p-text-sm-center textos"
      >
        <div class="p-sm-12">
          <h5 class="textos">
            <b>Hola!</b> Mi nombre es Yeison Molano. <br /><br />Me desempeño
            en el area del desarrollo web, mis capacidades son el diseño,
            desarrollo e implementacion de aplicaciones FullStack, en el siguiente
            boton encontraras un link en donde vas a poder interactuar con un crud
            realizado con SpringBoot y Mysql. Para poder ver mas sobre mi puedes descargar mi <a class="link-cv" href="./../../assets/imagenes/CV-Yeison_Molano.pdf"
            download="CV-Yeison_Molano.pdf">CV acá</a>. Si quieres conocer un poco mas de mi trabajo puedes ingresar
            a cualquiera de mis canales de información que encuentras en la parte superior derecha de la pantalla.
          </h5>
          <div class="p-d-flex p-jc-around">
            <div class="pequenio">
              <a routerLink="/crud"
                ><p-button
                  label="CRUD Basico"
                  styleClass="contact"
                  icon="pi pi-envelope"
                ></p-button
              ></a>
            </div>
            <div class="pequenio">
              <a href="#contact-me"
                ><p-button
                  label="Contactame"
                  styleClass="contact"
                  icon="pi pi-envelope"
                ></p-button
              ></a>
            </div>
          </div>
        </div>
      </div>
      <div class="p-lg-6 p-md-6 p-sm-12 p-d-flex p-jc-center">
        <img src="./assets/imagenes/mio.jpg" class="imgPrincipal" />
      </div>
    </div>
  </div>
</section>

<section id="skills" data-aos="fade-right" data-aos-duration="1500">
  <div>
    <h1 class="tittle">HABILIDADES</h1>

    <div
      class="p-grid p-d-flex p-jc-center p-m-1 p-p-1"
      data-aos="fade-right"
      data-aos-duration="2000"
    >
      <div
        *ngFor="let skill of front"
        class="p-lg-3 p-sm-6 p-mb-sm-6 skil"
        data-aos="flip-left"
        data-aos-duration="800"
      >
        <h1 class="textos">{{ skill.nombreSkil }}</h1>
        <div class="p-d-flex centrar">
          <div class="p-lg-6">
            <img src="{{ skill.logo }}" class="imgLogo" />
          </div>
          <div class="p-lg-6">
            <p class="textos">
              Años de experciencia: {{ skill.experiencia }} <br />
              Tipo de habilidad: {{ skill.tipo }}
            </p>
          </div>
        </div>
      </div>
    </div>

    <div
      class="p-grid p-d-flex p-jc-center p-m-1 p-p-1"
      data-aos="fade-left"
      data-aos-duration="2000"
    >
      <div
        *ngFor="let skill of back"
        class="p-lg-4 p-sm-6 p-mb-6 skil"
        data-aos="flip-left"
        data-aos-duration="800"
      >
        <h1 class="textos">{{ skill.nombreSkil }}</h1>
        <div class="p-d-flex centrar">
          <div class="p-lg-6">
            <img src="{{ skill.logo }}" alt="" class="imgLogo" />
          </div>
          <div class="p-lg-6">
            <p class="textos">
              <b>Años de experciencia:</b> {{ skill.experiencia }} <br />
              <b>Tipo de habilidad:</b> {{ skill.tipo }}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="contact-me">
  <div class="p-d-lg-flex p-jc-center">
    <div
      class="p-sm-12 p-md-12 p-lg-6 p-pl-lg-6 p-pr-lg-6"
      data-aos="flip-left"
      data-aos-duration="2000"
    >
      <h1 class="tittle">Sobre mi</h1>
      <p class="textos">
        Técnico en Sistemas y en espera de titulación de Ingeniero de Sistemas, con experiencia en 
        desarrollo de aplicaciones web FULLSTACK consumiendo microservicios utilizando Java para el 
        Backend con SpringBoot, para la parte del FrontEnd manejo de Angular y diseño de bases de 
        datos relaciones MySQL, Oracle. Me desempeño por mi gran perseverancia, trabajo en equipo y 
        disciplina, además de un gran gusto por la programación.
      </p>
    </div>
    <div
      class="p-sm-12 p-md-12 p-lg-6"
      data-aos="flip-right"
      data-aos-duration="2000"
    >
      <h1 class="tittle">¡Contactame!</h1>
      <div class="p-card p-p-lg-3 p-p-md-3 p-p-lg-2">
        <form action="" [formGroup]="formContactMe">
          <div class="p-d-lg-flex p-d-md-flex p-d-sm-block">
            <div class="p-lg-6 p-md-6 p-sm-12 p-col-12">
              <input
                class="p-p-2 inputMessage"
                placeholder="Nombre *"
                type="text"
                pInputText
                formControlName="nombre"
              />
            </div>
            <div class="p-lg-6 p-md-6 p-sm-12 p-col-12">
              <input
                class="p-p-2 inputMessage"
                type="text"
                placeholder="Apellido"
                pInputText
                formControlName="apellido"
              />
            </div>
          </div>
          <div class="p-col-12">
            <input
              placeholder="Tema *"
              class="p-p-2 inputMessage"
              type="text"
              pInputText
              formControlName="tema"
            />
          </div>
          <div class="p-col-12">
            <input
              placeholder="Contacto"
              class="p-p-2 inputMessage"
              type="text"
              pInputText
              formControlName="contacto"
            />
          </div>
          <div class="p-col-12">
            <textarea
              rows="5"
              cols="30"
              placeholder="Mensaje *"
              pInputTextarea
              [autoResize]="true"
              formControlName="mensaje"
              class="p-p-2 inputMessage"
            ></textarea>
          </div>
          <div class="p-d-flex p-jc-end p-pr-2">
            <p-button
              label="Contactame"
              styleClass="contact"
              icon="pi pi-envelope"
              (onClick)="sendMail()"
            ></p-button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

<p-toast></p-toast>
