/* You can add global styles to this file, and also import other style files */
html, body{
    margin: 0;
    padding: 0;
    background-image: url('./assets/imagenes/code2.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}